<!DOCTYPE html>
<html>

<head>
    <title>Stock Tracker</title>
    <!-- <link href="https://cdn.datatables.net/v/dt/dt-1.13.2/datatables.min.css" /> -->

    <!-- <script src="https://cdn.datatables.net/v/dt/dt-1.13.2/datatables.min.js"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#stock-table').DataTable();
        });
    </script>
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">Stock Tracker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav text-white">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">   Home    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">   Register    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">  Login   </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add_stock">  Add Stock   </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">  Log Out </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <br>
        <h1 style="color: dodgerblue;">Stock Tracker</h1>
        <table id="stock-table">
            <thead>
                <tr>
                    <th>Stock Symbol</th>
                    <th>Date Added</th>
                    <th>Tracking Price</th>
                    <th>Number of Shares</th>
                    <th>Current Price</th>
                    <th>% Change</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for data in api_data %}
                <tr>
                    <td>{{ data.symbol }}</td>
                    <td>{{ data.date }}</td>
                    <td>{{ data.tracking_price }}</td>
                    <td>{{ data.num_shares }}</td>
                    <td>{{ data.current_price | round(2) }}</td>
                    <td>{{ data.percent_change }}</td>

                    <td><a href="" class="btn btn-danger">Remove</a></td>
                    {% endfor %}
            </tbody>
        </table>
        <br>
        <!-- add a button that links to the add_stock page -->
        <a href="{{ url_for('add_stock') }}" class="btn btn-primary">Add Stock</a>
        <br><br>
        <hr>
        <h2>AAPL stock prices data Visuals.</h2>
        <div>
            <a href="{{ url_for('visualization') }}" class="btn btn-primary">Check Data Visuals</a>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </div>
</body>

</html>