<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register</title>
	<link rel="stylesheet" href="/static/assets/css/register.css">
</head>

<body>

	<div class="form-box">
		<form class="form" method="POST" action="/login">
			<span class="title">Sign in</span>
			<span class="subtitle">Log in to your account.</span>
			<div class="form-container">
				<input type="email" name="email" class="input" placeholder="Email">
				<input type="password" name="password" class="input" placeholder="Password">
			</div>
			<button>Log in</button>
		</form>
		<div class="form-section">
			<p>Have an account? <a href="/register">Sign up</a> </p>
		</div>
	</div>

</body>
</html>